#app {
  font-family: "Calibri";
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
  text-align: center;
  color: linear-gradient(45deg, rgb(73, 82, 146), rgb(90, 136, 196));
  margin-top: 60px;
	margin-bottom: 60px;
  position: relative;
  margin: auto;
}
#controls {
  margin: auto;
  margin-bottom: 5px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
body{
	background: linear-gradient(0deg, rgba(45, 50, 100,0.8), rgba(100, 160, 210,0.6));
}
button {
  padding : 4px;
	border: 8px transparent linear-gradient(45deg, rgb(10, 35, 60), rgb(30, 60, 100));
  border-radius: 8px;
  background: linear-gradient(45deg, rgba(10, 35, 60,0.8), rgba(30, 60, 100,0.6));
  color: rgb(230,230,255);
}

button:hover {
  border: rgb(25, 126, 139);
}

button:active {
  border-color: rgb(51, 154, 250);
}

canvas {
  position: absolute;
  margin: auto;
  border: 1px solid linear-gradient(45deg, rgb(73, 82, 146), rgb(90, 136, 196));
	border-radius: 16px;
  display: block;
	background-color: white;
}

